@import "@material/theme/color-palette";

// Svelte Colors!
$mdc-theme-primary: #e21f27;
$mdc-theme-secondary: #000000;
// Other Svelte color: #40b3ff

$mdc-theme-background: #fff;
$mdc-theme-surface: #fff;

$mdc-theme-error: $material-color-red-900;
